body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  background: #87ceeb;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
