* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Your default theme */
  --background: #fffaf2;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

html,
body {
  font-family: Arial;
  scroll-padding-top: 53px;
  /* background: #fffaf2; */
  scroll-behavior: smooth;
}

main {
  height: calc(100vh - 3rem);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
